<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RoutineZen</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body id="routineBody">
    <nav class="grey darken-3">
        <div class="nav-wrapper container">
    
            <a href="/home" class="brand-logo center">Welcome <%= name %></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
            <ul class="sidenav" id="mobile-demo">
                <li><a href="/home">Home</a></li>
                <li><a href="/books">My Book List</a></li>
                <li><a href="/auth/logout">Logout</a></li>
            </ul>
        </div>
    </nav>

    <div class="container routine-container">
        <div class="card routine-card">
            <div class="card-content">
                <div class="section">
                    <h1 class="lead logo fa-solid fa-mountain-sun"><span> Routine</span>Zen</h1>
                </div>
                <div class="divider"></div>
                <div class="section">
                    <% if(routines.length && left === 1){ %>
                        <h2>You have <%= left %> routine due</h2>
                    <% } else if(routines.length){ %>
                        <h2>You have <%= left %> routines due</h2>
                    <% } else { %>
                        <h2>Nothing to do</h2>
                    <% } %>
                    <form action="/routines/createRoutine" method='POST'>
                        <input id="routineInput" type="text" placeholder="Enter Routine" style="text-align: center" name='routineItem'>
                        <input id="dueDateInput" type="date" style="text-align: center" name="routineDueDate">
                        <input type="submit" value="Submit Routine">
                    </form>

                        <% if(routines.length){ %>
                        <table id="routine-table">    
                            <tr>
                                <th>Routine</th>
                                <th>Due Date</th>
                                <th>Created At</th>
                                <th class="del-header">Delete</th>
                            </tr>
                            <% routines.forEach( el => { %>
                            <tr class='routineItem' data-id='<%=el._id%>'>
                                <td class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.routine %></td>
                                <td class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.dueDate %></td>
                                <td class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.createdAt %></td>

                                <td class='del fa-solid fa-trash-can'></td>
                                <!-- <td><input type="checkbox"></td> -->
                            </tr>
                        <% }) %>
                        </table>
                        <% } else { %>
                            <p class="routineItem">You do not have any routines yet!</p>                             
                         <% } %>
                    
                </div>
            </div>
        </div>
    </div>
    
    <script src="js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        M.Sidenav.init(document.querySelector('.sidenav'))
    </script>
</body>
</html>